@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Personal Website</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	
	@RenderSection("styles", required: false)
	
	@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-controller="Home" asp-action="Index" class="navbar-brand">MyWebsite</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-controller="Home" asp-action="Index">Projects</a></li>
					<li><a asp-controller="Home" asp-action="Courses">Courses</a></li>
					<li><a asp-controller="Home" asp-action="Author">Author</a></li>
				</ul>
				@await Html.PartialAsync("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p style="text-align:center">&copy; @Html.DisplayTextFor(model => DateTime.Now.Year) - Dmytro Bogatov's Personal Website</p>
		</footer>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackView" style="position: fixed; bottom: 10px; right: 30px;">Feedback</button>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Loading (wait for page to load)</h4>
				</div>
				<div class="modal-body">
					<div class="progress progress-striped active">
						<div class="progress-bar" style="width: 100%;">
							<span class="sr-only">Wait, please</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="responseView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="responseViewLabel">Thank you!</h4>
				</div>
				<div class="modal-body">
					<h3 id="responseText">I got your feedback and will be in touch shortly.</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" id="responseCloseBtn">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	@await Html.PartialAsync("_FeedbackPartial")
	
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>

	<script>
		var globalModule = "Default";
	</script>

	@RenderSection("scripts", required: false)

	<script src="/lib/underscore/underscore-min.js"></script>
	<script data-main="/js/config.js" type="text/javascript" src="/lib/requirejs/require.js"></script>

</body>
</html>
